* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* default */
    font-size: 65%;
    
    /* Colors */
    --bg-modal: #FFFFFF;
    --bg-primary: #190361;
    --bg-secundary: #BB00FF;

}

body {
    font-size: 1.6rem;
   
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background: linear-gradient(45deg, var(--bg-primary) 0%, var(--bg-secundary) 100%);

}

body, input, button {
    font-family: 'DM Sans', sans-serif;

}

img {
    width: 100%;
    height: auto;
}

main {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.8);
    padding: 8.4rem 4.8rem 8.4rem;
    max-width: 42.8rem;
    border-radius: .5rem;

    background-color: var(--bg-modal);
    margin: 20px;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.9rem;
    max-width: 25.8rem;
    text-align: center;
}

.screen1 p {
    margin: 1.4rem 0 2.0rem ;
}


/* Segunda tela */

.screen1, .screen2 {
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen2 h1 {
    width: 100%;
    margin-bottom: 1.7rem;

    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.9rem;
    padding: 0;
}

.screen2 .luck {
    min-height: 10.7rem;
    width: 100%; 
    /* 29.3rem; */
    padding: 10px;

    background: #E4EDF1;
    box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);
    
    



}
.screen2 .luck p {
    font-family: 'Dancing Script';
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.9rem;
    text-align: center;
    color: #000000;
}

.hide {
    display: none;
}

button {
    text-align: center;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #FF9500;

    padding: 16px;
    gap: 10px;

    width: 17.4rem;
    height: 5.2rem;

    border-radius: 4px;
    border: none;
}
